* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 50px;
    padding: 20px;
    /*Para los datos que vamos a ingresar*/
}

.cuerpo {
    background-color: rgb(162, 229, 231);
    border: solid rgb(124, 177, 221);
    padding: 40px;
}

#titulo {
    text-align: center;
    font-family: fantasy;
}

.bloques {
    display: flex;
    padding: 20px;
}

.bloques .datos {
    margin-left: 20px;
    margin-right: 50px;
}


/*Primera tabla para ingresar textos*/

.Fijo_textoIngresado {
    border: solid rgb(160, 15, 10);
    border-radius: 0%;
    height: 30px;
    width: 300px;
    margin-left: 0%;
}

#idname {
    height: 45px;
    width: 305px;
    font-size: 20px;
}

#iddate {
    height: 45px;
    width: 305px;
    font-size: 20px;
}


/*---------------------------------*/


/*------Botones---------*/

.bloques .botones {
    margin: 20px;
}

.btnextraer {
    background-color: rgb(202, 176, 26);
    width: 170px;
    height: 30px;
    border: solid rgb(248, 248, 248);
    border-radius: 10px;
    margin: 20px;
}

button {
    height: 50px;
    width: 170px;
    font-size: 25px;
    background-color: transparent;
    color: white;
}

.btncolorear {
    background-color: rgb(230, 99, 11);
    height: 30px;
    width: 170px;
    border: solid rgb(8, 7, 7);
    border-radius: 10px;
    margin: 20px;
}


/*-----------------------------*/


/*Segundo seción*/

.Resultados {
    display: flex;
    padding: 20px;
}

.Resultados .resultado {
    margin-left: 40px;
    margin-right: 140px;
}


/*Para la dos tablitas para mostrar texto*/

.Fijo_textoextraido {
    border: solid rgb(160, 15, 10);
    border-radius: 0%;
    height: 30px;
    width: 300px;
    margin-left: 0%;
}

#idPaterno {
    height: 45px;
    width: 300px;
    font-size: 20px;
}

#idMaterno {
    height: 45px;
    width: 300px;
    font-size: 20px;
}

#idnombre {
    height: 45px;
    width: 300px;
    font-size: 20px;
}

#idlongitud {
    height: 45px;
    width: 300px;
    font-size: 20px;
}

#idedad {
    height: 45px;
    width: 300px;
    font-size: 20px;
}

#idmes {
    height: 45px;
    width: 300px;
    font-size: 20px;
}


/*-------------------------------------------------*/

.textoFijo_color2 {
    border: solid rgb(160, 15, 10);
    background-color: rgb(160, 15, 10);
    color: white;
    height: 30px;
    width: 400px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textoFijo_color2.azul {
    border: solid rgb(16, 16, 141);
    background-color: rgb(16, 16, 141);
}

.textoFijo_color1.rojo {
    border: solid rgb(160, 15, 10);
    background-color: rgb(160, 15, 10);
}

.textoFijo_color1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid rgb(16, 16, 141);
    background-color: rgb(16, 16, 141);
    color: white;
    height: 30px;
    width: 400px;
    margin: 5px;
}