header {
    margin-top: 0;
    background-image: url(/imagenes/fondo.jpg);
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
    height: 200%;
}

body {
    background-color: rgba(250, 250, 250, 0.959);
}

.carousel-inner {
    max-height: 25rem;
}


/*nav {
    font-size: 125%;
    height: 25px;
    padding: 20px 50px 0 0;
    background-color: rgb(199, 79, 10);
}

nav a {
    color: rgb(226, 236, 234);
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
}

nav a:hover {
    color: rgb(174, 31, 218);
}*/

#foto1 {
    display: block;
    border-radius: 100%;
    border-color: rgb(43, 185, 171);
    position: relative;
    left: 900px;
    width: 240px;
    height: 300px;
}

h3 {
    text-align: center;
    color: rgb(82, 12, 82);
}

#titulo {
    text-align: center;
    display: block;
    color: rgb(243, 59, 13);
    font-size: 40px;
}

section {
    float: right;
    height: 150px;
    width: 800px;
    margin-top: 0px;
    margin-right: 400px;
    margin-bottom: 20px;
}

#barraLateral {
    background-color: rgb(93, 133, 61);
    float: right;
    width: 400px;
    height: 650px;
    margin-bottom: 80px;
    position: relative;
    margin-left: 65%;
}


/*Cerca de Mí*/


/*****hobiea***********/

.bloques {
    display: flex;
    justify-content: space-evenly;
}

.bloques .bloque {
    background: rgb(235, 162, 94);
    display: flex;
    width: 46%;
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(180, 80, 13);
}

.bloques .bloque img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50px;
    display: block;
}

.bloques.bloque>.texto {
    width: 60%;
    color: rgb(37, 78, 201);
}


/** Comidas*/

.comidas {
    display: flex;
    justify-content: space-evenly;
}

.comidas .comida {
    display: flex;
    width: 46%;
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.comidas .comida img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(245, 244, 248);
    border-radius: 50px;
    display: block;
}


/*Contactos*/

.contactos {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

.contactos .contacto {
    display: flex;
    width: 46%;
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.contactos .contacto img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    display: block;
}

.main {
    width: auto;
    height: auto;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: saddlebrown;
}

h2 {
    color: rgb(238, 109, 16);
}

#h2 {
    color: #ffff;
    background-image: linear-gradient(to left, rgb(201, 170, 134), rgb(202, 125, 89), rgb(224, 120, 35), rgb(230, 102, 17), rgb(240, 53, 6));
    background-clip: content-box;
    animation: color 3s linear infinite;
    background-size: 100%;
    text-align: center;
}

#PiePag {
    position: relative;
}


/*Foooter*/

footer {
    background: rgb(16, 175, 162);
    margin: auto;
    overflow: hidden;
    clear: both;
}

.conteiner-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(224, 94, 7);
}

.conten-footer {
    text-align: center;
}

.conten-footer h4 {
    color: rgb(105, 8, 8);
    border-bottom: 5px solid rgb(36, 1, 1);
    padding-bottom: 3px;
    margin-bottom: 8px;
}

.tituloFinal {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: rgb(105, 8, 8);
}